/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v20-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

body {
  margin: 0px;
  padding: 0px;
  display: block;
}

.ConnectError {
  display: none;
}

.openSpeedtestApp {
  height: 100vh;
  width: 100vw;
  display: none;
  overflow: auto;
  /* background-image: url('../images/netmesh-web-measuring.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; */
}

.speedtestApp {
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 225px;
  min-height: 400px;
  font-family: Ubuntu;
}

.text-one-line-only {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1080px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1;
  -webkit-box-orient: vertical;
}

.circle-icon {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 50%;
}

.measuring-screen {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
}

.speed-connection-progress-panel-container {
  flex: 1;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.speed-connection-progress-panel {
  padding: 16px;
  display: flex;
  width: calc(100vw - 32px);
  align-items: center;
  max-width: 320px;
}
.speed-connection-progress-panel .bar {
  flex: 1;
  border-top: 1px solid red;
  margin-bottom: 3px;
}

.network-connection-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* background: #eee; */
}
.network-connection-title {
  font-size: 28px;
  text-align: center;
}
.network-connection-subtitle {
  font-size: 18px;
}


.main-gauge-panel {
  flex: 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #8ee; */
  overflow: hidden;
}

.test-server-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* background: #e8e; */
}
.test-server-title {
  font-size: 28px;
  text-align: center;
}
.test-server-subtitle {
  font-size: 18px;
}
.change-test-server-button {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 16px;
  background: grey;
  border: 0px;
  padding: 4px 12px;
  border-radius: 18px;
  margin-top: 4px;
}
.change-test-server-button:hover {
  background: rgba(128, 128, 128, 0.8);
  cursor: pointer;
}

@keyframes zoom-out-slightly-down {
  from {
    scale: 1;
    translate: none;
    opacity: 1;
  }
  to {
    scale: 0.8;
    translate: 0 20%;
    opacity: 0;
  }
}
.zoom-out-slightly-down {
  animation: zoom-out-slightly-down 0.2s ease-out forwards;
}

@keyframes zoom-out-slightly-up {
  from {
    scale: 1;
    translate: none;
    opacity: 1;
  }
  to {
    scale: 0.8;
    translate: 0 -20%;
    opacity: 0;
  }
}
.zoom-out-slightly-up {
  animation: zoom-out-slightly-up 0.2s ease-out forwards;
}

@media screen and (max-height: 599px) {
  .network-connection-icon {
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-bottom: 2px;
  }
  .network-connection-title {
    font-size: 20px;
  }
  .network-connection-subtitle {
    font-size: 14px;
  }
  .test-server-title {
    font-size: 20px;
  }
  .test-server-subtitle {
    font-size: 14px;
  }
}

.main-Gaugebg {
  fill: none;
  stroke: rgb(231, 231, 232);
  stroke-linecap: flat;
  stroke-linejoin: flat;
  stroke-width: 22px;
  stroke-dasharray: 681;
}
.main-GaugeBlue {
  fill: none;
  stroke: url(#gradient);
  stroke-linecap: flat;
  stroke-linejoin: flat;
  stroke-opacity: 0;
}
.main-GaugeWhite {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-linecap: flat;
  stroke-linejoin: flat;
  stroke-width: 15px;
  stroke-dasharray: 0, 681;
  stroke-dashoffset: 1;
  stroke-opacity: 0;
}
.oDo-Meter {
  font-size: 16px;
  fill: gray;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
}
.oDoLive-Speed {
  font-size: 40px;
  fill: #201e1e;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: middle;
}

.oDoLive-Status {
  font-size: 18px;
  fill: #d2d1d2;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 400;
  text-anchor: middle;
}
.uiBg {
  fill: #d2d1d2;
}
.progressbg {
  stroke: rgb(231, 231, 232);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}
.Cards {
  fill: #f2f2f2;
}
.Symbol {
  fill: url(#gradient);
}
.rtext {
  font-size: 12px;
  fill: #333;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
}
.rtextnum {
  font-size: 23px;
  fill: #201e1e;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: middle;
}
.rtextmbms {
  font-size: 12px;
  fill: #5f5f5f;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: middle;
}
.jitter-Mob {
  font-size: 9px;
  fill: #5f5f5f;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: middle;
}
.startButton {
  fill: url(#RadialGradient1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  pointer-events: visible;
}
.buttonTxt {
  font-size: 36px;
  fill: url(#RadialGradient1);
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 600;
  text-anchor: middle;
}

.intro-Progress {
  stroke: #56c4fb;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}
.progressElmstart {
  stroke: #56c4fb;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
  display: block;
}
.Startsettings {
  fill: url(#RadialGradient1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  pointer-events: visible;
  opacity: 0.1;
  transition: opacity 1s ease-in-out;
}
.Startsettings:hover {
  opacity: 1;
}

.progressbg {
  stroke: rgb(231, 231, 232);
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}
.deskStart {
  fill: none;
  stroke: rgb(231, 231, 232);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 22px;
  stroke-dasharray: 681;
  stroke: url(#gradient);
}
#UI-Desk {
  display: block;
}
#UI-Mob {
  display: none;
}
.oDoTop-Speed {
  font-size: 16.96px;
  fill: gray;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: end;
}
#upSymbolDesk {
  fill: #14b0fe;
  display: none;
}
#downSymbolDesk {
  fill: #14b0fe;
  display: none;
}
#upSymbolMob {
  fill: #14b0fe;
  display: none;
}
#downSymbolMob {
  fill: #14b0fe;
  display: none;
}

#ipMob {
  font-size: 15px;
  fill: #201e1e;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: middle;
  display: none;
}
#ipDesk {
  font-size: 15px;
  fill: #201e1e;
  font-family: Ubuntu-Medium, Ubuntu;
  font-weight: 500;
  text-anchor: middle;
  display: none;
}

.spinner {
  position: absolute;
  z-index: 999;
  top: calc(50vh - 10px);
  left: calc(50vw - 40px);
  text-align: center;
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #2196f3;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.darkmode {
  margin-bottom: -15px;
  fill: #75757a99;
  padding-top: 16px;
  display: none;
  cursor: pointer;
  margin-right: 30px;
}
#daymode {
  margin-right: 40px;
}
.darkmode:hover {
  fill: #000000;
}

.Mobile,
.Desktop {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
}

@media only screen and (orientation: landscape) {
  .Mobile {
    visibility: hidden;
  }
  .Desktop {
    visibility: visible;
  }
}

@media only screen and (orientation: portrait) {
  .spinner {
    top: 42vh;
    left: 42vw;
  }
  .Mobile {
    visibility: visible;
  }
  .Desktop {
    visibility: hidden;
  }
}
